@font-face {
    font-family: 'Hitmarker'; /* set name */
    src: url(./assets/HitmarkerText-Bold.ttf); /* url of the font */
    font-weight: normal;
    font-style: normal;
}

.nui-wrapper { 
    font-family: 'Hitmarker', sans-serif;
}